.bockgroundImagePart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
}

.bockgroundImagePart__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.bockgroundImagePart__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 7%;
  left: 6%;
  width: 100%;
  height: auto;
}
.dw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  height: auto;
}

.bockgroundImagePart__card__cardTittleDiv__cardTittle {
  font-size: 70px;
  color: #e62e5f;
  letter-spacing: -4.5;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-style: normal;
}

.bockgroundImagePart__card__cardTextDiv1__cardText1 {
  font-family: Arial, sans-serif;
  font-size: 26px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: -0.5;
  width: 71%;
  height: auto;
  color: aliceblue;
  margin-top: 45px;
}

.bockgroundImagePart__card__cardTextDiv2 {
  width: 75%;
  height: auto;
}

.bockgroundImagePart__card__cardTextDiv2__cardText2 {
  font-family: Arial, sans-serif;
  font-size: 26px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: -0.5;
  width: 67%;
  height: auto;
  color: aliceblue;
  margin-top: 30px;
}

.bockgroundImagePart__card__linkDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
  border-radius: 25px;
  padding: 10px 25px;
  margin-top: 40px;
  background-image: linear-gradient(135deg, #6699ff 0%, #ff3366 100%);
}
.bockgroundImagePart__card__link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
}

.marksAndbrands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 0 0;
  margin-top: 30px;
}
.marksAndbrands__h2Div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: auto;
}
.marksAndbrands__h2Div__h2 {
  color: black;
  text-align: center;
  font-size: 35px;
  font-weight: 600px;
}

.marksAndbrands__h2Div__span {
  margin-top: 10px;
  font-size: px;
  color: gray;
  text-align: center;
}

.brunds {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  // min-height: 168.4609375px;
  padding: 0 30px;
  height: auto;
}

.brunds__imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: auto;
 

  margin: 10px;
}
.brunds__imgDiv > img {
  max-width: 100%;
  max-height: 100%;
}
.cartsDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 25px;
  width: 100%;
  height: auto;
}

.cartSDiv__Tittle{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: black;
  padding: 18px 0;




}
.cartsDiv__cartBody{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:auto;
  padding: 10px 30px;
  
}
.cartsDiv__cartBody__cartOne{
 width: 400px;
 height: 400px;


 
}
.cartsDiv__cartBody__cartOne__heartDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  
}
.cartsDiv__cartBody__cartOne__heartDiv__heart{
 color: #fff;
 fill: #fff;
 background-color: #18e95e;
}

.cartsDiv__cartBody__cartTwo{
width: 400px;
  height: 400px;
  background-color: #bdcf7b;
}
.cartsDiv__cartBody__cartThree{
  width: 50%;
  height: auto;
  background-color: #5e6ecc;
}
.cartsDiv__cartBody__cartFour{
  width: 50%;
  height: auto;
  background-color: #77ad80;
}
@media (max-width: 768px) {
  .bockgroundImagePart {
    height: 450px;
  }

  .dw {
    width: 100%;
    height: auto;
  }
  .bockgroundImagePart__card__cardTittleDiv__cardTittle {
    font-size: 45px;
    color: #e62e5f;
    font-weight: bold;
  }

  .bockgroundImagePart__card__cardTextDiv1 {
    width: 100%;
    height: auto;
  }
  .bockgroundImagePart__card__cardTextDiv1__cardText1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: normal;
    font-weight: 700;
    letter-spacing: -0.5;
    width: 90%;
    height: auto;
    color: aliceblue;
    margin-top: 20px;
  }

  .bockgroundImagePart__card__cardTextDiv2 {
    width: 100%;
    height: auto;
  }
  .bockgroundImagePart__card__cardTextDiv2__cardText2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: normal;
    font-weight: 900;
    letter-spacing: -0.5;
    width: 90%;
    height: auto;
    color: aliceblue;
    margin-top: 20px;
  }

  .bockgroundImagePart__card__linkDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: auto;
    border-radius: 25px;
    padding: 10px 10px;
    margin-top: 40px;
    color: #fff;
    background-image: linear-gradient(135deg, #6699ff 0%, #ff3366 100%);
  }
}
